@media screen and (max-width: 700px) {
    header .container{
        display: flex;
        flex-direction: column;
    }

    header .logo{
        font-family: "Arial Black";
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }

    .video-play{
        width: 300px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 1000px){
    .descricao{
        width: 50%;
    }
    
    header .logo{
        font-family: "Arial Black";
    }

}